CompileFlags:
  CompilationDatabase: build/
  Remove:
    - -mcpu=*
    - -mthumb
    - -march=*
  Add:
    - -D__arm__
    - -DPICO_ON_DEVICE=1
    - -DPICO_NO_HARDWARE=0
    - -DPICO_RP2040=1
    - --target=arm-none-eabi
    - -Wno-unused-includes
